DATABASE_URL="postgresql://smartlocker:smartlocker@localhost:5432/smartlocker"
DIRECT_URL="postgresql://smartlocker:smartlocker@localhost:5432/smartlocker"
NEXTAUTH_SECRET="sua-chave-secreta"
NEXTAUTH_URL="http://localhost:3000"
